@import url('https://use.typekit.net/zie6gua.css');

:root {
  --color-black: #141414;
  --color-gray: #7e7e7e;
  --color-white: #efefef;
  --color-gradient-summer: linear-gradient(
    267.91deg,
    #ffe57f 9.35%,
    #ff7170 96.48%
  );
  --color-gradient-pastel: linear-gradient(
    270.97deg,
    #ffe580 -21.36%,
    #ff7571 -2.45%,
    #ea5dad 26.84%,
    #c2a0fd 64.15%,
    #3bf0e4 108.29%,
    #b2f4b6 159.03%
  );

  --font-display: degular-display, sans-serif;
  --font-body-copy: degular-text, sans-serif;
  --font-body-copy-alt: paralucent-condensed, sans-serif;
}

*::selection {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  inline-size: 8px;
  background: var(--color-black);
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background: var(--color-black);
  border: 1px solid hsl(0, 0%, 24%);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-gradient-pastel);
  border: 1px solid var(--color-black);
}

body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
  background: var(--color-black-shade);
}

body {
  font-family: var(--font-body-copy);
  font-weight: 300;
  font-style: normal;
  font-size: 1.6rem;
  background: var(--color-black);
  color: var(--color-white);
  padding: 6.4rem 4rem 0 4rem;
  position: relative;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('./assets/images/hero.png') center no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
}

.heading {
  width: 80vw;
  margin: 0 auto 8rem auto;
  text-align: center;
}

h1,
h3 {
  font-style: normal;
  margin: 0 auto;
}

h1 {
  font-family: var(--font-display);
  width: 100%;
  font-weight: 800;
  font-size: 7.2rem;
  margin-block-end: 3.2rem;
  line-height: 1;
}

h3 {
  font-family: var(--font-body-copy);
  font-weight: 200;
  font-size: 2.5rem;
  width: 64%;
}

.text-gradient {
  background: var(--color-gradient-summer);
  -webkit-background-clip: text;
  background-clip: text;
  clip: text;
  -webkit-text-fill-color: transparent;
}

.link,
.link:visited,
.link:link,
.footer__credits,
.footer__credits:visited,
.footer__credits:link {
  color: var(--color-white);
  transition: all 0.4s;
  text-decoration: var(--color-white) solid underline;
  text-underline-position: auto;
}

.link:hover,
.footer__credits:hover {
  color: var(--color-gray);
  text-decoration-color: var(--color-gray);
}

.projects {
  margin: 0 auto 9.6rem auto;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: repeat(auto-fit, 34.8rem);
  justify-content: center;
}

.project {
  list-style: none;
  padding: 2.4rem 2rem;
  background: inherit;
  border: 4px solid;
  border-image: var(--color-gradient-summer);
  border-image-slice: 1;
  backdrop-filter: blur(1.6rem);
}

.project__picture {
  width: 100%;
  margin-block-end: 1.6rem;
  border: 1px solid #ffffff28;
}

.project__title {
  width: 96%;
  font-family: var(--font-body-copy);
  font-weight: 600;
  font-style: normal;
  font-size: 2.8rem;
  margin-block-end: 1.2rem;
  text-align: center;
}

.project__description {
  font-size: 1.8rem;
  width: 96%;
  margin: 0 auto 2.4rem auto;
  text-align: center;
}

.project__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.project__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  background-color: var(--color-black);
  color: var(--color-white);
  height: 4.8rem;
  padding: 0 1.2rem;
  transition: all 0.6s;
  border: 2px solid;
  border-image: var(--color-gradient-pastel);
  border-image-slice: 1;
}

.project__cta:hover {
  color: var(--color-black);
  background: var(--color-gradient-pastel);
  border: 2px solid;
  border-image: transparent;
}

.project__cta__text {
  font-family: var(--font-body-copy-alt);
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.project__cta__icon {
  width: 1.6rem;
  height: 1.6rem;
}

.footer {
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8rem 0;
  color: var(--color-white);
  border-top: 3px solid;
  border-image: var(--color-gradient-pastel);
  border-image-slice: 1;
}

.footer__credits {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.4rem;
    width: 96%;
  }

  .footer {
    font-size: 1.8rem;
  }
}
